@import "tailwindcss";

body{
    background-color: black;
}

html, body {
  overflow-x: hidden;
    scroll-behavior: smooth;
    
}
body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
